@charset "utf-8";

div,img,span,p,a,ul,li{
    margin: 0;
    padding: 0;
}

#wrap{
    width: 1510px;
    margin: -8px auto;
    overflow: hidden;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.fl{
    float: left;
}
a{
    text-decoration: none;
}